
:root{
--logo-font-family: Raleway;
--main-font-family: Roboto;
--primary-brand-color:#4D5AE5;
--dark-title-main-color: #2E2F42;
--p-color:#434455;
--filter-bgd-color: #E7E9FC;
--dark-bgd-color: #2E2F42;
--white-text-color:#FFFFFF;
--footer-p-color:#E7E9FC;
--white-logo-color:  #F4F4FD;
}

body{
color: var(--dark-title-main-color-color);
font-family: var(--main-font-family);
margin: 0;
}

.text{
color: var(--p-color);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.hidden { 
position: absolute; 
width: 1px; 
height: 1px;
margin: -1px; 
border: 0; 
padding: 0; 
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0); 
overflow: hidden;
} 

.link{
text-decoration: none;
color: var(--dark-title-main-color);
}

.list{
list-style-type: none;
}

.button{
border: none;
font-family: var(--main-font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.04em;
cursor: pointer;
}

/* LOGO */
.logo{
font-family: var(--logo-font-family);
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-brand-color);
}

.logo-black{
color: var(--dark-title-main-color);
}

.logo-white{
color: var(--white-logo-color);
}

.title{
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--dark-title-main-color);
}
    

/* header */
/* Навигация */
.link-nav{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--dark-title-main-color);
}

.link-nav:hover,
.link-nav:focus{
color: var(--primary-brand-color);
}

/* Контакты */
.link-contact{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--p-color);
}

.link-contact:hover,
.link-contact:active{
color: var(--primary-brand-color);
}

/* index.html main */
/* Effective Solutions for Your Business */
.hero{
background-color: var(--dark-bgd-color);
}

.hero-title{
color: var(--white-text-color);
font-weight: 600;
font-size: 56px;
line-height: 1 ;
letter-spacing: 0.02em;
}

.hero-button{
color: var(--white-text-color) ;
background: var(--primary-brand-color);
line-height: 1.2;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:active{
background-color: #404BBF;
cursor: pointer;
}

/* Advantages of working with WebStudio */
.advature{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-title-main-color);
}


/* Our Team */
.team{
background-color: #F4F4FD;
}
.name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}


/* portfolio.html main */
.filter{
color: var(--primary-brand-color);
background-color: var(--filter-bgd-color);
font-family: var(--main-font-family);
}

.filter:hover,
.filter:active{
color: white;
background-color: var(--primary-brand-color);
}

.portfolio-list{
font-family: var(--main-font-family);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-title-main-color);
}


/* footer */
.footer{
background-color: var(--dark-bgd-color);
}

.footer-text{
color: var(--footer-p-color);
}

